In [2]:
import pandas as pd

In [3]:
sci = pd.read_csv('./data/scientists.csv')

In [10]:
sci.index

RangeIndex(start=0, stop=8, step=1)

In [11]:
sci.columns

Index(['Name', 'Born', 'Died', 'Age', 'Occupation'], dtype='object')

In [7]:
sci

                   Name        Born        Died  Age          Occupation
0     Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist
1        William Gosset  1876-06-13  1937-10-16   61        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90               Nurse
3           Marie Curie  1867-11-07  1934-07-04   66             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   77       Mathematician

In [12]:
sci.dtypes

Name          object
Born          object
Died          object
Age            int64
Occupation    object
dtype: object

In [14]:
sci.axes

[RangeIndex(start=0, stop=8, step=1),
 Index(['Name', 'Born', 'Died', 'Age', 'Occupation'], dtype='object')]

In [15]:
sci.size

40

In [16]:
sci.shape

(8, 5)

In [18]:
sci.memory_usage()

Index         128
Name           64
Born           64
Died           64
Age            64
Occupation     64
dtype: int64

In [19]:
sci.empty

False

In [20]:
sci

                   Name        Born        Died  Age          Occupation
0     Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist
1        William Gosset  1876-06-13  1937-10-16   61        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90               Nurse
3           Marie Curie  1867-11-07  1934-07-04   66             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   77       Mathematician

In [21]:
sci.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 5 columns):
Name          8 non-null object
Born          8 non-null object
Died          8 non-null object
Age           8 non-null int64
Occupation    8 non-null object
dtypes: int64(1), object(4)
memory usage: 448.0+ bytes

In [25]:
sci.dtypes

Name          object
Born          object
Died          object
Age            int64
Occupation    object
dtype: object

In [24]:
sci.Age.astype('int8')

0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int8

In [26]:
sci.dtypes

Name          object
Born          object
Died          object
Age            int64
Occupation    object
dtype: object

In [27]:
ages = sci.Age

In [28]:
ages

0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64

In [29]:
ages.index

RangeIndex(start=0, stop=8, step=1)

In [30]:
s = ages

In [31]:
s.index

RangeIndex(start=0, stop=8, step=1)

In [32]:
s.array

<PandasArray>
[37, 61, 90, 66, 56, 45, 41, 77]
Length: 8, dtype: int64

In [33]:
s.values

array([37, 61, 90, 66, 56, 45, 41, 77], dtype=int64)

In [34]:
s.dtype

dtype('int64')

In [35]:
s.ndim

1

In [36]:
s.size

8

In [37]:
s.T

0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64

In [40]:
s.append(sci.Name)

0                      37
1                      61
2                      90
3                      66
4                      56
5                      45
6                      41
7                      77
0       Rosaline Franklin
1          William Gosset
2    Florence Nightingale
3             Marie Curie
4           Rachel Carson
5               John Snow
6             Alan Turing
7            Johann Gauss
dtype: object

In [41]:
s.describe()

count     8.000000
mean     59.125000
std      18.325918
min      37.000000
25%      44.000000
50%      58.500000
75%      68.750000
max      90.000000
Name: Age, dtype: float64

In [43]:
s.drop_duplicates()

0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64

In [49]:
s.median()

58.5

In [1]:
import numpy as np

In [ ]:
np.corrcoef()

In [2]:
import matplotlib.pyplot as plt
%matplotlib inline
import platform
from matplotlib import font_manager, rc

In [ ]:
rc()
np.polyfit()